body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app {
  background-color: #E8E1B5;
  color: #6E5A3C;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9FB7A6;
  padding: 15px 30px;
}

.logo {
  color: #F5F1C8;
  font-weight: 600;
}

.search {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
}

.cart {
  font-size: 18px;
}

/* HERO */
.hero {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0,0,0,0.3);
  padding: 60px;
  border-radius: 20px;
  text-align: center;
}

.hero h1 {
  font-size: 90px;
  margin: 0;
  color: #F5F1C8;
}

.hero p {
  color: white;
  font-size: 20px;
}

/* ABOUT */
.about {
  padding: 80px 40px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about img {
  width: 50%;
  border-radius: 20px;
}

.about-text {
  width: 50%;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 40px;
  gap: 30px;
}

.card {
  background-color: #CDA46C;
  padding: 15px;
  border-radius: 16px;
  color: white;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card button {
  margin-top: 10px;
  background-color: #6E5A3C;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* FRASE */
.quote {
  text-align: center;
  padding: 100px 20px;
  font-size: 28px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #9FB7A6;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about img,
  .about-text {
    width: 100%;
  }

  .hero h1 {
    font-size: 50px;
  }
}